body {
    font-family: 'Monospace', sans-serif;
    background-color: #b9b9b9;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #800000;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: #003366;
    font-size: 2em;
    margin-top: 30px;
}

.projects {
    width: 60%;
    margin: 20px auto;
}

.project a {
    text-decoration: none;
    color: #003366;
}

.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgba(11, 146, 236, 0.651);
    display: block;
    margin: auto;
}

.statement {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
}

.projects { display:flex; flex-wrap:wrap; }

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #3399ff;
    border-radius: 25%;
    text-align: center;
}

.about {
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(11, 146, 236, 0.651);
}